<h1>
  {{room.name}}
  <button
    ng-show="room.showEstimates"
    ng-click="clear()"
    >Clear Estimates</button>
  <button
    ng-click="modal.open()"
    >Settings</button>
</h1>

<div
  class="card"
  ng-class="{back: !room.showEstimates, observer: user.mode == 'observe'}"
  name="{{user.name}}"
  ng-repeat="user in room.users track by user.uid"
  >
  <h1 fit-text>{{user.name}}</h1>
  <b ng-hide="user.isMe()">{{user.estimate}}</b>
  <away ng-show="!user.isMe() && user.away && user.thinking"></away>
  <spinner ng-show="!user.isMe() && user.thinking && !user.away && user.mode == 'estimate'"><i></i><i></i><i></i></spinner>
  <ready ng-hide="user.isMe() || user.thinking"></ready>
  <controls ng-if="user.isMe()">
    <select ng-model="user.estimate" ng-options="estimate for estimate in room.options" ng-disabled="room.showEstimates || user.away"></select>
    <button ng-show="user.away" ng-click="user.away = false">I&rsquo;m Back</button>
    <button ng-hide="user.away" ng-click="user.away = true">BRB</button>
  </controls>
</div>

