<modal>
  <form>
    <button ng-click="modal.visible = false" style="float: right">Close</button>
    <ul>
      <li>
        <label>
          Your Name
          <input ng-model="settings.user.name" ng-disabled="!settings">
        </label>
      </li>
      <li ng-if="settings.user.name">
        <label>
          Room Name
          <select
            ng-model="settings.room"
            ng-options="room for room in settings.user.rooms"
            ng-disabled="!settings">
            <option value="">Other&hellip;</option>
          </select>
        </label>
        <span ng-hide="settings.room">
          <input ng-model="settings.roomName">
          <button ng-disabled="settings.roomNameAvailable != false" ng-click="requestToJoin()">Request to Join</button>
          <button ng-disabled="settings.roomNameAvailable != true" ng-click="createRoom()">Create</button>
        </span>
      </li>
      <li ng-if="settings.room">
        <label>
          <input type="radio" name="mode" ng-model="settings.mode" value="observe">
          Observe
        <p><small>You&rsquo;re just watching to see what others estimate</small></p>
        </label>
      </li>
      <li ng-if="settings.room">
        <label>
          <input type="radio" name="mode" ng-model="settings.mode" value="estimate">
          Estimate
        </label>
        <p><small>We&rsquo;ll wait for your estimate before we show everyone&rsquo;s estimate</small></p>
      </li>
      <li ng-if="settings.room">
        <label>
          <input ng-model="settings.options" style="width: 50vw">
        </label>
        <p><small>Separate your options with spaces</small></p>
      </li>
    </ul>
  </form>
</modal>

