.card {
  position: relative;
  display: inline-block;
  border: 3px solid white;
  box-shadow: 0 0 0 3px black, 3px 3px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 14vw;
  height: 21vw;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
  vertical-align: top;
  font-size: 2.7vw;
  margin-bottom: 2vw;
}

b {
  font-size: 175%;
}

.card.observer {
  opacity: 0.5;
}

.card.observer ready,
.card.observer away,
.card.observer spinner,
.card.observer controls,
.card.observer b {
  display: none;
}

.card + .card {
  margin-left: 2vw;
}

.card > * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card.back > * {
  opacity: 0;
}

.card select {
  display: block;
  margin: 0 auto;
}

.card.back controls {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
  transform-style: preserve-3d;
  transform: rotateY(180deg) translateZ(2px);
}

.card.back:before {
  content: attr(name);
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg) translateZ(2px);
  font-size: 2.7vw;
  font-weight: bold;
  margin: 0.6em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.card.back {
  transform: rotateY(180deg);
  background: rgba(27, 134, 192, 0.5) url('cross.png') repeat;
}

.card h1 {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 2.7vw;
}

.card b,
.card controls {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

spinner,
away,
ready {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.4vw;
  width: 2.8vw;
  height: 2.8vw;
  zoom: 2;
}

spinner {
  transform-origin: 50% 50%;
  transform: rotate(360deg);
  transition: transform 1s;
  animation: spin 1s infinite;
}

.card spinner,
.card away,
.card ready {
  display: none;
}
.card.back ready,
.card.back away,
.card.back spinner {
  display: inline-block;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  opacity: 1;
}

spinner i {
  display: inline-block;
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgb(255, 5, 37) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0.7vw;
}

spinner i + i {
  top: 1.183vw;
  left: 0;
  transform: rotate(240deg);
}

spinner i + i + i {
  left: 1.4vw;
  transform: rotate(120deg);
}

@keyframes spin {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

ready:before {
  color: green;
  font-size: 2.2vw;
  content: '\2705';
  transform: scaleX(-1);
  display: block;
}

away {
  left: 1.1vw;
  right: 0;
  width: auto;
}

away:before {
  color: black;
  text-shadow: 0 0 5px white;
  font-weight: bold;
  font-size: 2vw;
  content: 'BRB';
  text-align: center;
  transform: scaleX(-1);
  display: block;
}

notifications {
  position: absolute;
  top:10px;
  right: 10px;
}

notification {
  display: block;
  position: relative;
  width: 300px;
  background:rgba(240,240,240,0.8);
  border:1px solid #d0d0d0;
  border-radius:5px;
  padding:5px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
}

notification p {
  width: 75%;
}

notification button {
  -webkit-appearance: none;
  border:1px solid #d0d0d0;
  background: transparent;
  position:absolute;
  top:0;
  right:0;
  margin:0;
  border-top:0;
  border-right:0;
  height:50%;
  width:25%;
}

notification button:last-child {
  height: 100%;
  border-bottom: 0;
}

notification button:active {
  background: rgb(43, 112, 255);
  color: white;
}

notification button + button,
notification button + button:last-child {
  top: 50%;
  height: 50%;
}

modal {
  position: fixed;
  top: 20vh;
  height: 50vh;
  width: 60vw;
  left: 20vw;
  overflow: auto;
  display: block;
  border: 1px solid #aaa;
  box-shadow: 0 5px 10px black;
  background: rgba(255, 255, 255, 0.95);
}

li p {
  margin-top: 0;
}

